<p>
  rest works!
</p>

<!-- <mat-nav-list>
  <mat-list>
    <mat-list-item> Pepper </mat-list-item>
    <mat-list-item> Salt </mat-list-item>
    <mat-list-item> Paprika </mat-list-item>
   </mat-list>
</mat-nav-list> -->

<!-- 
<mat-list role="list">
  <mat-list-item role="listitem">Item 1</mat-list-item>
  <mat-list-item role="listitem">Item 2</mat-list-item>
  <mat-list-item role="listitem">Item 3</mat-list-item>
</mat-list> -->

<button mat-flat-button (click)="get500comments()">Consulta API Comments</button>

<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
    <!-- <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell> -->
    <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <!-- <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell> -->
    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;">
    
  </mat-row>

</mat-table>

<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>


<!-- <mat-list role="list">
  <mat-list-item *ngFor="let c of comentarios" role="listitem">{{c.email}}</mat-list-item>
</mat-list> -->